@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
body {
  background-image: url("../img/bg_pizza.jpg");
  background-position: center;
  background-size: cover;
}
.bg-red {
  background-color: #81150b;
}
h1 {
  font-family: "Cabin Sketch", cursive;
  font-size: 7rem;
  font-variant: small-caps;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
}
